.landing-line{
    width: 100%;
    height: 2px;
    background: rgba(169, 169, 169, 0.80);
}

/* General Styles */
.contact-left-image img,
.contact-right-image img {
    width: 100%;
    height: 70vh;
   
   
}
.contact-left-image{
    position: relative;
    display: block;
}

.contact-page-right-contact .right-contact{
    top: 0;
}
.contact-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px; 
    height: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.50);
}

.contact-box h1 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 4vh; 
    font-weight: 600;
    letter-spacing: 0.96px;
    text-transform: capitalize;
}

/* Contact Right Image Styles */
.contact-right-image {
    position: relative;
}

.contact-right-image h1 {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Montserrat;
    font-size: 4vw; 
    font-weight: 600;
    letter-spacing: 0.96px;
    text-transform: capitalize;
}


@media (max-width: 768px) {
    .contact-box {
        height: auto; 
        padding: 10px;
    }

    .contact-right-image h1 {
        font-size: 5vw; 
       
        
    }

    .contact-left-image{
        display: none;
    }
}

@media (max-width: 480px) {
    .contact-box h1 {
        font-size: 5vw; 
    }

    .contact-right-image h1 {
        font-size: 6vw;
    }

    .contact-left-image{
        display: none;
    }
}



/*Rolling Text */
.rolling-text {
    display: flex;
   
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.tab {
    list-style: none;
}

.wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, #1d60c5 0%, #0e2e5f 100%);
    border-radius: 1px;
    margin-top: 48px;
}

.tabs-box {
    display: flex;
    width: calc(200%); 
    animation: scroll-left 30s linear infinite;
    margin: 10px;
}

.tab{
    margin-right: 20px;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.tabs-box .tab {
    flex: 0 0 auto;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    padding: 6px 14px;
    border-radius: 5px;
    border: 1px solid #d8d5f2;
    white-space: nowrap;
}

.tabs-box .tab:hover {
    background: #efedfb;
}

.tabs-box .tab.active {
    color: #fff;
    background: #5372F0;
    border-color: transparent;
}



/* contact section */


.contact-page{
    position: relative;
    top: 5%;
    
}

.contact-think{
    margin-top: 80px;
}


/* Google -*/

.google-contact{
    height: 350px;
}