.project-item {
  position: relative;
  display: block;
  height: 360px;
  width: 100%;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.project-item-detail {
  position: absolute;
  top: 8%; 
  left: 4%; 
  color: black;
  border-radius: 10px;
  background: linear-gradient(90deg, #C1D9E8 0%, #E7F6FF 100%);
  padding: 8px; 
  width: 30%;
  text-align: center;
}

.project-item-detail p {
  margin: 0;
}

.project-item-detail-heading {
  position: absolute;
  bottom: 10%;
  left: 29%;
  min-width: 200px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.70);
}

.project-item-detail-heading h6 {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

@media (min-width: 768px) { /* You can adjust the breakpoint as needed */
  .image-item {
    width: calc(50% - 16px); /* Two images per row, with a margin */
    margin: 8px;
  }
}

/* Media query for small screens */
@media (max-width: 480px) {
  .project-item {
      position: relative;
      width: 100%;
  }

  .project-item-detail{
      width: 29%;
      height: 27px;
  }
  .project-item-detail p{
      font-size: 12px;
      margin-top: -9px;
  } 

  .project-item-detail-heading{
      height: 40px;
    transform: translate(-16%,-10%);
  }
  .project-item-detail-heading{
      font-size: 12px;
  }
}
