.project-item {
  position: relative;
  display: block;
  height: 360px;
  width: 100%;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.project-item-detail {
  position: absolute;
  top: 8%; 
  left: 4%; 
  color: black;
  border-radius: 10px;
  background: linear-gradient(90deg, #C1D9E8 0%, #E7F6FF 100%);
  padding: 8px; 
  width: 30%;
  text-align: center;
}

.project-item-detail p {
  margin: 0;
}

.project-item-detail-heading {
  position: absolute;
  bottom: 10%;
  left: 29%;
  min-width: 200px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.70);
}

.project-item-detail-heading h6 {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

@media (min-width: 768px) { /* You can adjust the breakpoint as needed */
  .image-item {
    width: calc(50% - 16px); /* Two images per row, with a margin */
    margin: 8px;
  }
}

/* Media query for small screens */
@media (max-width: 480px) {
  .project-item {
      position: relative;
      width: 100%;
  }

  .project-item-detail{
      width: 29%;
      height: 27px;
  }
  .project-item-detail p{
      font-size: 12px;
      margin-top: -9px;
  } 

  .project-item-detail-heading{
      height: 40px;
    transform: translate(-16%,-10%);
  }
  .project-item-detail-heading{
      font-size: 12px;
  }
}



/* <!----------------- New Added Project File----------------- --> */


.project-background {
  background: #0e2e5f;
  width: 100%;
  height: 150px;

  position: absolute;
}

.project-detail{
  position: relative;

}

.project-back-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.project-back-heading h2 {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.project-back-heading h1 {
  color: rgba(255, 255, 255, 0.13);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
}

.project-back-para {
  margin-top: 40px;
  max-width: 400px;
}

.project-back-para p {
  color: #535861;

  font-weight: 500;

  text-transform: capitalize;
}

.project-line {
  width: 100%;
  height: 1px;
  background: #9f9e9e;
  margin-top: 16%;
  margin-bottom: 20px;
}
.project-img {
  display: flex;

  width: 100%;
  height: 400px;
  gap: 10px;
  margin-top: 20px;
}

.project-img img {
  width: 50%;
  overflow: hidden;
  height: auto;
  display: block;
  object-fit: cover;
}



.read-more {
  text-align: center;
  margin-top: 20px;
}

.project-complete-line {
  background: #666973;
  width: 100%;
  height: 2px;
  margin-top: 20px;
}
