@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common css */

.col-md-6 {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.container-fluid {
  max-width: 1300px;
}

.container-fluid-max {
  max-width: 100%;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/*------------------Common----------*/

.comman-sub-heading {
  color: #2589cd;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-top: 20px;
}

.sketch-heading {
  color: #000;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0.74px;
  text-transform: capitalize;
  margin-top: 20px;
}
.sketch-para {
  color: #535861;
  text-transform: capitalize;
  text-align: justify;
}

@media (min-width: 768px) {
  p{
    font-size: 14px;
    line-height: 1.6;
  }
}

@media (max-width: 768px) {
  p,.sketch-para {
    font-size: 13px;
    line-height: 1.6;
  
    padding: 5px;
  }
}

@media (max-width: 480px) {
  p,.sketch-para {
    font-size: 12px;
    line-height: 1.7;
 
    
  }
}

/*------------------Button----------*/

.button-container {
  z-index: 1000;
  position: relative;
}

.custom-button {
  position: relative;
  background-color: #3498db; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.line {
  width: 82px;
  height: 2px;
  background-color: white;
  margin-left: 80px;
  margin-top: 5px;
  transform: translateX(7%);
}

.line::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: -7px;
  width: 2px;
  height: 55px;
  background-color: white;
}

/*--------------Navigation------------*/

.nav-bar {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo img {
  max-width: 100px;
}

.nav-control {
  display: flex;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  text-decoration: none;
  color: #595959;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.13px;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.main-nav a:hover {
  color: #278bcb;
}

.nav-hover-line {
  display: block;
  width: 0;
  height: 2px;
  background-color: #278bcb;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

.main-nav a:hover .nav-hover-line,
.main-nav .active a .nav-hover-line {
  width: 100%;
}


/*----------Landing---------------*/

.container-fluid-max {
  padding: 0;
  margin: 0;
}

.landing-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.landing-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-page-content{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.landing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.landing-page-content h1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 7vh;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
  text-transform: capitalize;
  text-align: center;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .landing-page-content h1 {
    font-size: 8vw;
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .landing-page-content h1 {
    font-size: 10vw;
    padding: 0 3px;
  }
}

/*-----------Sketch--------------*/
.sketch-image {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.image {
  display: block;
  width: 80%;
  height: auto;
  transition: transform 0.3s ease 0.5s ;
 

 
}

.second-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
  width: 50%;
  height: auto;
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
  
}


.first-image {
  opacity: 1;
 
}

.second-image {
  opacity: 1;
 
}




.icon-msg img {
  width: 80%;
}

.icon-msg {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; 
}

.icon-msg h5 {
  font-family: Montserrat;
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.icon-msg p {
  width: 100%;
  max-width: 200px;
  margin: 0 auto; 
  /* text-align: center; */
}

.icon-msg a {
  text-align: center;
  text-decoration: none;
}

.sketch-icon {
  display: flex;
  justify-content: space-between;
  
  
}

@media (max-width: 768px) {
  .second-image {
    width: 50%;
    margin: 0 auto; 
  }
  .sketch-info {
    padding-top: 60px;
  }
  .sketch {
    margin-top: 40px;
  }
}


@media (max-width: 480px) {
  .second-image {
    width: 70%;
    margin: 0 auto; 
  }

  .sketch-para {
    /* min-width: 380px;
    max-width: 800px; */
    margin: 0 auto; 
    /* text-align: center;  */
  }

  .sketch-icon {
    justify-content: center; 
  }

  .sketch {
   
    text-align: center; 
  }
}


/*--------------author-info------------*/

/*----------------About-----------------*/

.rewards h6 {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.38px;
  padding-left: 10px;
}

.whole-rewards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.award-list {
  padding-top: 40px;
}

.award-list .award-bold {
  font-weight: 700;
}

.rewards p {
  width: 120%;
  height: 2px;
  background: #000;
}

.award-list h6 {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;

  font-weight: 400;
  line-height: 159%;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}



/*------------Awardslider----------------*/

.moving-area{
  overflow: hidden;
  width: 100%; /* Ensure it covers the area as needed */
  height: 100%; 
}

.moving-img{
  
  width: 100%;
  height: 100%;
}

.sliding-area {
  position: relative;
  overflow: hidden;
  width: 100%; /* Ensure it covers the area as needed */
  height: 100%; /* Adjust as needed */
}

.about-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust image fitting */
  transition: transform 0.10s ease-out;
}


@media (max-width: 768px) {
  .sliding-area {
    margin-top: 20px;
  }
}

/*-------------------------Counting SEction -------------------*/
.whole-counting {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.whole-counting {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  flex-wrap: wrap;
}

.counting {
  flex: 1 1 calc(25% - 30px);
  text-align: center;
  margin: 15px;
}

.counting h1 {
  font-family: "Averia Libre", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #2589cd;
  transition: all 1s ease;
}

.counting h5 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.69px;
  text-transform: capitalize;
}

@media (max-width: 1200px) {
  .counting {
    flex: 1 1 calc(50% - 30px);
  }
}

@media (max-width: 768px) {

 .award-list p{
    margin-bottom: 0px;
  }
  .counting {
    /* flex: 1 1 100%; */
  }
}

/*------------ Space Section---------------- */
.make-space {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.space {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.space-contain {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.space-contain img {
  display: block;
  transition: transform 0.5s ease, filter 0.5s ease;
  width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  filter: grayscale(50%); /* Optional: apply a grayscale filter */
}

.space-contain:hover img {
  transform: scale(1.2) rotate(5deg); /* Zoom in and slightly rotate */
  filter: grayscale(0%); /* Remove grayscale on hover */
}



.space-contain h1 {
  font-size: 3rem; /* Adjust font size as needed */
}

.space-contain h5 {
  font-size: 1.5rem; /* Adjust font size as needed */
}

.space-contain {
  position: relative;
  flex: 1 1 calc(33.333% - 30px);
  margin: 15px;
  box-sizing: border-box;
}

.space-contain img {
  width: 100%;
  height: auto;
  display: block;
}

.space-contain h5 {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  font-variant: all-small-caps;
  letter-spacing: 0.72px;
  transform: translateY(-50%);
}

.space-contain h1 {
  position: absolute;
  top: 40%;
  left: 80%;
  text-align: center;
  -webkit-text-stroke-width: 1;
  color: transparent;
  font-size: 7vw;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.314);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  transform: translate(-70%, -30%);
}

.space-contain h1::after {
  position: absolute;
  content: "";
  background: #fff;
  width: 2px;
  height: 100%;
  min-height: 210px;
  top: -50px;
  bottom: 0;
}

.space-contain h1::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  min-width: 400px;
  height: 2px;
  bottom: 0;
  right: 0;
}

/* Media Queries */
@media (max-width: 1200px) {
  .space-contain {
    flex: 1 1 calc(50% - 30px);
  }

  .space-contain h1 {
    font-size: 10vw;
  }
}

@media (max-width: 768px) {
  .space-contain {
    flex: 1 1 calc(100% - 30px);
  }

  .space-contain h1 {
    font-size: 15vw;
  }

  .space-contain h5 {
    font-size: 4vw;
  }
}

/*----------Services-----------------*/
.offer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
  perspective: 1000px;
  position: relative;
}

.offer-box:hover {
  transform: scale(1.1) rotateX(10deg) rotateY(10deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  background-color: #f0f8ff;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  animation: pulse 2s infinite;
}

.serive-detail {
  text-align: center;
}

.serive-detail svg {
  transition: transform 0.4s ease, stroke 0.4s ease;
  stroke: #A7CEE6; /* Initial stroke color */
}

.offer-box:hover .serive-detail svg {
  transform: rotate(30deg) scale(1.2);
  stroke: #007bff; /* New stroke color on hover */
}

h6 {
  margin: 10px 0;
  color: #333;
  transition: color 0.4s ease, transform 0.4s ease;
}

.offer-box:hover h6 {
  color: #007bff;
  transform: translateY(-10px);
}

p {
  color: #666;
  line-height: 1.6;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.offer-box:hover p {
  color: #333;
  opacity: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

 
.offer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
}

.offer-box {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.serive-detail svg {
  margin-top: -80px;
}

.service-icon {
  margin-bottom: 10px;
}

.serive-detail h6 {
  margin-top: 10px;
  font-size: 18px;
} 

@media (min-width: 600px) {
  .offer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .offer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*----------------Process-------------------*/
/*----------------Process-------------------*/
/*----------------Process-------------------*/
.process {
  width: 100vw;
  height: auto;
  background: #404040;
  padding: 20px 0;
  margin-top: 80px;
  position: relative;
}



@media (max-width: 480px) {
  .working-btn {
  
    text-align: center; 
    
      margin: 0 auto;
      display: block; 
    }
   
  
  
}

.process-heading {
  text-align: center;
}

.process-head {
  color: #fff;
}

.working-circle {
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.procedure h5 {
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 42px;
  text-transform: capitalize;
  text-align: center;
}

.working-circle h1 {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.314);
  -webkit-text-stroke-width: 1;
  color: transparent;
  font-family: Montserrat;
  font-size: 5vw;
  font-style: normal;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.working-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.working-btn{
 
  margin: 0 auto;
  display: block;
}

.whole-process {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: auto;
}

.procedure {
  flex: 1 1 150px;
  margin: 20px;
  position: relative;
}

.procedure p {
  background-color: white;
  width: 100%;
  height: 2px;
  margin-bottom: -80px;
  display: none;
}



.process-line {
  width: 100%;
  height: 2px;
  background-color: #278bcb;
  margin: 20px 0;
}



.process-para p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 27px;
  text-transform: capitalize;
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.process-btn {
  width: 12%;
  min-width: 180px;
  height: 40px;
  background-color: #2589cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-btn a {
  color: #fff;
  text-decoration: none;
}

.process-whole-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

@media (max-width: 768px) {
  .whole-process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .procedure {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .procedure p {
    display: none;
  }

  .procedure:hover p {
    display: none;
  }

  .working-circle {
    width: 20vw;
    height: 20vw;

    min-width: 60px;
    min-height: 60px;
  }

  .working-circle h1 {
    font-size: 10vw;
    margin-top: -60px;
    margin-left: -40px;
  }
}
@media (max-width: 480px) {
  .whole-process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
  }

  .working-btn {
    width: 50%;
  }
  .procedure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
  }

  .procedure h5 {
    margin: 10px 0;
    font-size: 1rem;
    color: #fff;
  }

  .working-circle {
    width: 30vw;
    height: 30vw;
    max-width: 120px;
    max-height: 120px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .working-circle img {
    width: 40%;
    height: auto;
  }

  .working-circle h1 {
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.314);
    position: absolute;
  }
}

/*--------------------Partner------------------*/
.partner-title {
  text-align: center;
  margin-top: 80px;
}

.partner-box {
  width: 50%;
  height: 160px;
  margin: 10px;
  border: 2px solid #278bcb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-image img {
  position: relative;
  bottom: 140px;
  right: 40px;
}

.partner-detail {
  margin-top: 60px;
  margin-left: 80px;
}
.scroll-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-inner {
  display: flex;
  flex-direction: row;
  width: 200%;
  animation: scroll 2.6s linear infinite;
}

.partner-detail {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.whole-partner-box {
  flex: 0 0 auto;
  margin-left: 40px;
  margin-right: 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .scroll-inner {
    width: 400%;
    animation: scroll 10s linear infinite;
  }

  .partner-detail {
    gap: 80px;
    align-items: center;
  }

  .whole-partner-box {
    margin: 10px 0;
  }
}

/* 

@media (max-width: 1200px) {
  .partner-box {
    flex: 1 1 calc(25% - 20px); 
  }
}

@media (max-width: 992px) {
  .partner-box {
    flex: 1 1 calc(33.33% - 20px); 
  }
}

@media (max-width: 768px) {
  .partner-box {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .partner-box {
    flex: 1 1 100%; 
  }
} */

/*---------------------Gallery----------------------*/

.whole-gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-show {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.first-half-gallery,
.secound-half-gallery {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .first-half-gallery,
  .secound-half-gallery {
    flex-direction: column;
    align-items: center;
  }
  .gallery {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .gallery {
    width: 100%;
    margin: 2px 0;
  }
}

/*-----------------COunceling --------------------*/
.consulting {
  width: 100%;
  background: #000;
  height: auto;
  padding: 20px;
}

.consulting-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  text-align: center;
}

.counsel-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consulting-left h3 {
  color: rgba(255, 255, 255, 0.85);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.76px;
  text-transform: capitalize;
  margin: 0;
}

.consulting-left h5 {
  color: #278bcb;
  font-family: Montserrat, sans-serif;
  font-size: 4vh;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin-left: 5px;
  margin-top: 2px;
}

.process-btn a {
  color: #fff;
  text-decoration: none;
  background: #278bcb;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

.process-btn a:hover {
  background: #1a6ca8;
}

.consulting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.consulting-para p {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

/* Media Queries for Responsiveness */

@media (min-width: 768px) {
  .consulting-left {
    flex-direction: row;
    justify-content: space-between;
  }

  .counsel-heading {
    flex-direction: row;
  }

  .process-btn {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .counsel-heading {
    margin-top: 2px;
    margin-bottom: 20px;
  }

  .consulting-para {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .consulting-left {
    height: 10vh;
  }

  .consulting-para p {
    font-size: 1.2rem;
  }
}

/*---------------Project-------------------*/

.whole-project{
  
}

.project ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  width: 70rem;
}

.project ul li a figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  display: block;
}

.project ul li a figure img {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 1000ms;
}

.project ul li a figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  transform-origin: center;
  opacity: 0;
  transform: scale(2);
  transition: opacity 300ms;
}

.project ul li a figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
}

.project ul li a:hover figure::after,
.project ul li a:focus figure::after {
  opacity: 1;
}

.project ul li a:hover figcaption,
.project ul li a:focus figcaption {
  opacity: 1;
  transition: opacity 600ms;
}

@media (max-width: 768px) {
  .project ul {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 100%;
  }

  .project ul li a figcaption {
    font-size: 1rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .project ul li a figure figcaption {
    transform: translate3d(0, 2rem, 0);
  }

  .project ul li a figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }

  .project ul li a:hover figure::after,
  .project ul li a:focus figure::after {
    transform: scale(2.5);
  }

  .project ul li a:hover figcaption,
  .project ul li a:focus figcaption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
  }

  .project ul li a:hover img,
  .project ul li a:focus img {
    transform: scale(1.2);
  }
}

/*----------------Testimonial----------------*/
.testimonial {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
  padding-left: 40px;
}

.test-img {
  margin-top: -40px;
}

.testimonial-box {
  border: 1px solid #1d84c5;
  background: #fff;
  box-shadow: 37px 36px 0px -13px #dde4ed;
  width: 100%;
  padding: 20px;
}

.testimonial-box p {
  color: #545962;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-transform: capitalize;
}

.test-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.test-proof {
  margin-left: 10px;
}

.whole-testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .testimonial {
    flex: 1 0 100%;
    margin-bottom: 20px;
  }
}

.whole-testimonial {
  overflow: hidden;
  position: relative;
}

.testimonial {
  position: relative;
  transition: transform 0.5s ease;
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
  padding-left: 40px;
}

.testimonial-box {
  border: 1px solid #1d84c5;
  background: #fff;
  box-shadow: 37px 36px 0px -13px #dde4ed;
  width: 100%;
  padding: 20px;
}

.testimonial-box p {
  color: #545962;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-transform: capitalize;
}

.whole-testimonial {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

/*---------- SKill------ */

.skilled {
  width: 100%;

  animation: 5s slide infinite linear;
  display: inline-block;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.skill-team {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  white-space: nowrap;
}

.skill-slide {
  overflow: hidden;
  margin-top: 40px;
  white-space: nowrap;
}

.skill-team img {
  width: 100%;
  height: auto;
}

.skill-team:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .skill-team-wrapper {
    animation-duration: 15s;
  }

  .skill-team {
    max-width: 220px;
    margin-right: 15px;
  }

  .skilled {
    width: 100%;

    animation: 5s slide infinite linear;
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .skill-team-wrapper {
    animation-duration: 10s;
  }

  .skilled {
    width: 100%;
    min-width: 800px;

    animation: 5s slide infinite linear;
    display: inline-block;
    overflow: hidden;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .skill-team {
    max-width: 180px;
    margin-right: 10px;
  }

  .skilled {
    flex-direction: column;
    align-items: center;
  }

  .skill-team {
    width: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .skill-team:last-child {
    margin-bottom: 0;
  }
}

.skill-box {
  padding: 7px 14px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-width: 260px;
  height: auto;
  bottom: 10px;
  left: 10px;
}

.skill-box h5 {
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.skill-box p {
  font-size: 12px;
  letter-spacing: 0.2px;
  margin-bottom: 0;
}

/*----------COntact------------ */
.contact-bg {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.contact-bg img {
  width: 100%;
  height: auto;
}

.contact-bg h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  font-family: Montserrat;
  font-size: 5vw;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.25px;
  text-transform: capitalize;
}

.contact-line {
  width: 5%;
  height: 2px;
  background: #1a6ca8;
  position: absolute;
  top: 40%;
  left: 10.2%;
}

@media (max-width: 768px) {
  .contact-bg h2 {
    font-size: 6vw;
    left: 5%;
  }

  .contact-line {
    width: 8%;
    top: 38%;
    left: 5.5%;
  }
}

@media (max-width: 480px) {
  .contact-bg h2 {
    font-size: 7vw;
    left: 2%;
  }

  .contact-bg img {
    height: 200px;
    object-fit: cover;
  }
  .contact-line {
    width: 10%;
    top: 36%;
    left: 2.5%;
  }
}

.contact-form {
  max-width: 600px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container textarea {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  background: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

textarea {
  resize: vertical;
  height: 100px;
}

label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #aaa;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="email"]:focus + label,
input[type="email"]:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #000;
}

textarea:not(:placeholder-shown) + label {
  top: -20px;
}

.contact-btn {
  float: right;
}

.right-contact {
  position: relative;
  background: #181818;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  padding: 40px;
  color: white;
  top: -50px;
}

.contact-h3 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.58px;
  text-transform: capitalize;
}

.address-detail {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.address-info {
  margin-left: 20px;
}

.address-info h6 {
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.address-info p {
  font-family: Montserrat;
  font-weight: 400;
  text-transform: capitalize;
  color: #9f9e9e;
}

.social-media {
  margin-top: 20px;
  text-align: center;
  
}

.social-media svg {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .right-contact {
    padding: 20px;
    margin-right: 20px;
    margin-top: 80px;
  }

  .contact-heading h5,
  .contact-heading h3,
  .contact-heading p,
  .contact-h3 {
    font-size: 18px;
    text-align: center;
  }

  .contact-heading p {
    font-size: 16px;
  }

  .social-media {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .right-contact {
    width: 100%;
    padding: 15px;
  }

  .contact-heading h5,
  .contact-heading h3,
  .contact-heading p,
  .contact-h3 {
    font-size: 16px;
  }

  .contact-heading p {
    font-size: 14px;
  }

  .address-detail {
    flex-direction: column;
    align-items: center;
  }

  .address-info {
    text-align: center;
  }

  .social-media svg {
    width: 24px;
    margin: 5px;
    display: inline-block;
  }
}

/*-------------Google Map --------------*/
.google-map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 20%;
}

.google-map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*---------- Page footer styles--------------- */

.footer-img {
  height: 200px;
}

.footer-img img {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.footer-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.footer-heading h1 {
  color: #000;
  text-shadow: 0px 4px 4px #fff;

  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}

.footer-heading p {
  color: #000;

  font-style: normal;
  font-weight: 600;
}

.connect-now-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  flex-shrink: 0;
  background: #e8eaed;
  padding: 0;
  margin: 0;
}

.dot-image {
  position: absolute;
}

.dot-image img {
  height: 200px;
  width: 100%;
  object-fit: none;
}

.footer-container {
  min-height: 300px;
}

.footer-container,
.footer-container-row {
  position: relative;
}

.footer-container-row {
  padding: 40px 0px;
}

.footer-container .creations {
  height: 200px;
}

.footer-container .creations img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.creations-list p {
  color: #000;
  font-weight: 700;
}

.creations-list ul {
  color: #000;
  margin-top: 10px;
  padding: 0;
  font-weight: 500;
  line-height: 2.5;
  list-style-type: none;
}

.creations-list p {
  position: relative;
  margin-bottom: 15px;
  display: inline;
}
.creations-list a {
  color: #000;
  text-decoration: none;
}
.creations-list p::after {
  content: "";
  position: absolute;
  display: block;
  height: 3.5px;
  width: 100%;
  background-color: #000000;
  bottom: -10px;
}

.creation-secound {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.creation-secound .creations-list {
  max-width: 240px;
  min-width: 150px;
}

.rights {
  border: 1px solid #fff;

  background: #dfdfdf;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;

  font-weight: 400;
}
